<%= div_for comment do%>
	<p>
		<strong>Posted <%= time_ago_in_words(comment.created_at) %></strong> <br />
		<%= h(comment.body)%>
		<% if user_signed_in? %>
          <% if current_user.email.to_s == comment.createdby.to_s then %>
            <%= link_to 'Edit', edit_comment_path(comment) %>
            <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        <% end %>
	</p>
<% end %>